@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

* {
    background-color: white;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    flex-direction: column;
    font-family: Quicksand;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
}

h1 {
    color: #d9d9d9;
    font-size: 80px;
    margin-bottom: 0px;
}

#copy {
    cursor: pointer;
    visibility: hidden;
}

.button-submit {
    width: 200px;
    height: 70px;
    font-size: 18px;
    background-color:#3c6e71;
    color: white;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 30px;
}

.button-submit:hover {
    background-color: #284b63;
    color: #edf6f9;
    transition-duration: .3s;
}

.button-submit:focus {
    outline: none;
}

#joke {
    margin: 10px;
    color: #353535;
}

#copy {
    font-size: 12px;
    font-weight: 300;
}
