@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;700&display=swap');

.main-container {
    display: flex;
    font-family: Quicksand;
    font-weight: 700;
    text-align: center;
}

#joke {
    margin: 10px;
    color: #353535;
    font-size: 20px;
    margin-bottom: 25px;
}

#engagement-container {
    display: flex;
    justify-content: center;
    visibility: hidden;
    align-items: center;
    padding-right: 30px;
}

#shareFb,#shareIg,#copy,#favorite {
    margin-left: 10px;
    margin-right: 10px;
    cursor: pointer;
}

#favList {
    text-align: left;
}

.left-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding-left: 30px;
    padding-right: 30px;
    min-height: 100vh;
    background-color: #689689;
}

h1 {
    color: #ffffff;
    font-size: 65px;
    margin-bottom: 0px;
    background-color: #689689;
    font-weight: 700;
}

.right-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 60%;
    min-height: 100vh;
    font: #0f0f0f;
}

.button-submit {
    width: 200px;
    height: 70px;
    font-size: 18px;
    background-color:#A49E8D;
    color: #504136;
    border-radius: 60px;
    border: none;
    cursor: pointer;
    margin: 10px;
    margin-bottom: 30px;
    font-weight: 600;
}

.button-submit:hover {
    background-color: #504136;
    color: #ffffff;
    transition-duration: .3s;
}

.button-submit:focus {
    outline: none;
}

#favList li {
    padding-top: 10px;
    padding-bottom: 10px;
}

/* .delDiv{
    display: flex;
    justify-content: right;
    align-content: flex-start;
} */

#deleteAll {
    justify-content: flex-end;
    cursor: pointer;
}

@media screen and (max-width:800px){
    .main-container {
        flex-direction: column;
        height: auto;
        }

    .left-container {
        width: 100%;
        min-height: 400px;
        flex-direction: column;
    }

    h1 {
        font-size: 50px;
    }

    .right-container {
        width: 100%;
        min-height: 300px;
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 30px;
    }
    }